footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin-top: 95px;
    text-align: center;
  }

  footer p {
    color: $color-dark;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: $font-header;
    //font-weight: bold;
    font-weight: 600;
  }