*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;

  
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.col-0{
  height: 0;
}

.subPage-title {
  color: $color-main;
  letter-spacing: 1.5dvh;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: $font-bold;
  position: relative;
  font-size: 70px;
  margin-bottom: 70px;
  margin-top: 0;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-49%);
    width: 40.8%;
    height: 7px;
    background-color: $color-main;
  }
}

.row {
  margin: 0;
}

.row > * {
  padding: 0;
}

@media (max-width: 576px) {
  .subPage-title {
    font-size: 10vw;
  }
}
@media (max-width: 300px) {
  .subPage-title {
    font-size: 6vw;
    letter-spacing: 0.5dvh;
  }
}
