// .header {
//   background-image: url('/images/background.webp');
//   // min-height: 110vh;
//   // //height: 1000px;
//   height: max(1000px, 110vh);
//   background-color: rgba(0, 0, 0, 0.7);
//   background-blend-mode: multiply;
//   background-size: cover;

//   background-repeat: no-repeat;
// }
// @media (max-width: 576px) {
//   .header {
//     height: 90vh;
//   }
// }
.header {
  background-image: url('/images/background.webp');
  height: max(1000px, 110vh);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  .row {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-Title-Container {
    flex-grow: 2;
  }

  .discover-container,
  .icon-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo {
  display: inline-block;
  line-height: 1;

  &-title {
    font-family: $font-header;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 1.15dvh;
    font-size: 37px;
    color: $color-light;
    margin: 35px 10px 0 67px;
  }

  &-subtitle {
    margin-left: 70px;
    margin-top: 7px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: $font-bold;
    font-size: 16px;
    letter-spacing: 0.52dvh;
    color: $color-light;
  }
  @media (max-width: 992px) {
    .logo {
      margin: 0;

      &-title {
        margin: 35px 0 0 0;
        text-align: center;
      }

      &-subtitle {
        margin: 10px 0 0 0;
        text-align: center;
      }
    }
  }
}

.main-nav {
  margin: 58px 0;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: $font-semibold;
    font-size: 19px;
    padding: 0;
    margin: 0 12.5px;
    text-align: center;
    letter-spacing: 0.18dvh;
    color: darken($color-light, 25%);
  }
}

@media (max-width: 576px) {
  .main-nav {
    flex-direction: column;
    margin: 0;
  }

  .main-nav a {
    margin: 10px 0;
  }
}

.page-Title-Container {
  margin-top: 42px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  .page-Title {
    margin: 0;
    color: $color-main;
    text-align: center;
    font-size: 100px;
    // font-size: 5vw;
    font-family: $font-header;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 1;
    position: relative;

    &-MainTitle {
      margin-right: 34.3%;
      margin-left: 10px;
    }

    &-Subtitle {
      margin-left: 14.8%;
      margin-right: 10px;

      &::after {
        position: absolute;
        content: '';
        bottom: -10%;
        left: 50%;
        width: 15%;
        height: 6px;
        transform: translateX(-50%);
        border: 10px;
        background: $color-main;
      }
    }

    @media (max-width: 992px) {
      &-MainTitle {
        margin: 0 10px;
      }

      &-Subtitle {
        margin: 0 10px;
      }
    }
  }
  @media (max-width: 768px) {
    .page-Title {
      font-size: 14vw;
      letter-spacing: 0.75dvh;
    }
  }
}
@media (max-width: 992px) {
  .page-Title-Container {
    height: auto;
    margin: 0;
  }
}

.discover-container {
  margin-top: 5vh;

  .discover {
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: $font-light;
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.75dvh;
    color: $color-light;
    margin-bottom: 20px;
  }
  @media (max-width: 576px) {
    .discover {
      font-size: 3vh;
    }
  }
}

.discover-icon {
  display: flex;
  justify-content: center;
  color: $color-light;
  font-size: 38px;
  margin: 20px;
}
