$color-dark: #000;
$color-light: #fff;
$color-main: #BEA67C;

$font-header: 'Source Sans Pro', sans-serif;
$font-text: 'Lato', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
